<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bc3d5">  <td>21/05/29 20:01:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="updateEmployeeDetails.testCase03()[pri:0, instance:com.restassured.crudOperations.updateEmployeeDetails@b97c004]">testCase03</td> 
  <td>main@214074868</td>   <td></td> </tr>
<tr bgcolor="da70b5">  <td>21/05/29 20:01:32</td>   <td>5578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="deleteEmployeeDetails.testCase03()[pri:0, instance:com.restassured.crudOperations.deleteEmployeeDetails@4590c9c3]">testCase03</td> 
  <td>main@214074868</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>21/05/29 20:01:34</td>   <td>6769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="getAllEmployeedDetails.testCase01()[pri:0, instance:com.restassured.crudOperations.getAllEmployeedDetails@6276ae34]">testCase01</td> 
  <td>main@214074868</td>   <td></td> </tr>
<tr bgcolor="b6a4a7">  <td>21/05/29 20:01:34</td>   <td>7131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addEmployeeDetails.testCase02()[pri:0, instance:com.restassured.crudOperations.addEmployeeDetails@5cc7c2a6]">testCase02</td> 
  <td>main@214074868</td>   <td></td> </tr>
</table>
